<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	         http://www.springframework.org/schema/beans/spring-beans.xsd
		 http://www.springframework.org/schema/context">

    <bean class="cn.coder.spring.bean.factory.PropertyPlaceholderConfigurer">
        <property name="location" value="classpath:application.properties"/>
    </bean>

    <bean id="riemannRedisClient" class="com.coder.RiemannRedisClient"></bean>
    <bean id="applicationStart" class="com.coder.ApplicationStart"></bean>

    <context:component-scan base-package="com.coder.service,com.coder.springmvc,com.coder.postProcessor,com.coder.websocket"/>

</beans>